$body-bg: #0f0f0f;
$main-color: #f211d4db;
$txt-color: #fff;

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$mobile-width: 600px;
$tablet-width: 1024px;
$border-radius: 30px;
$header-height: 8rem;
$header-shrink-height: 5rem;
$font-family: "Poppins", sans-serif;
